@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2");
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, Arial, sans-serif;
}
.wrap {
  width: 1440px;
  min-height: 1200px;
  margin: 0 auto;
}
header {
  min-height: 545px;
  background-color: #e1e1e1;
}
.logo {
  float: left;
  
}
ul {
  display: block;
  list-style: none;
}
li {
  float: left;
  padding-top: 75px;
  padding-right: 45px;
}
li a,
.cart-block a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 450;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: normal;
  color: black;
}
.cart-block {
  width: auto;
  height: 50px;
  float: left;
  margin-top: 64px;
  margin-left: 201px;
}
.cart-block img,
.cart-block a {
  height: 100%;
  vertical-align: middle;
}
.cart-block a {
  margin-left: 22px;
}
.main-info {
  width: auto;
  float: left;
  margin-top: 76px;
  margin-left: 141px;
  background-color: red;
}
.company-mission h2 {
  font-size: 55px;
  line-height: 1.06;
  font-weight: 500;
  margin-bottom: 23px;
}
.company-mission span {
  line-height: 1.5;
  font-weight: 400;
  color: #36454f;
}
.company-mission a {
  display: block;
  width: 240px;
  height: 33px;
  margin-top: 40px;
  background-color: #fb565a;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  padding-top: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}
.card-list {
  display: flex;
  flex-wrap: no-wrap;
  width: auto;
  margin: 3px 140px;
  border-bottom: 2px solid #e1e1e1;
}
.card-list-item {
  display: flex;
  list-style: none;
  margin-right: 54px;
  margin-bottom: 80px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: #fff;
  border-radius: 5px;
}
.card-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.card-content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
.card-content h3 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: black;
  margin-top: 25px;
}
.card-content p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #36454f;
  margin-top: 15px;
}
.card-content a {
  border-radius: 3px;
  color: #fff;
  display: block;
  width: 160px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  margin-top: 32px;
  padding-top: 12px;
}
.card-btn-1 {
  background-color: #fb565a;
}
.card-btn-2 {
  background-color: #00ca74;
}
.card-btn-3 {
  background-color: #efc84a;
}
.about {
  display: flex;
}
.about-info {
  float: left;
}
.about-info h2 {
  font-size: 45px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: black;
  margin-left: 140px;
  margin-top: 75px;
}
.about-info p {
  margin-top: 33px;
  margin-left: 140px;
  margin-bottom: 43px;
  line-height: 1.4;
}
.about-header {
  margin-left: 140px;
  text-transform: uppercase;
  font-weight: 600;
}
.dash {
  font-family: Arial;
  letter-spacing: -1px;
  color: #fb565a;
  font-weight: 600;
  margin-left: 120px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 142px;
  margin-right: 7px;
}
.about-list {
  color: #36454f;
}
.about-statistic {
  float: left;
}
.about-statistic img {
  margin-left: 150px;
  margin-top: 40px;
}
.statistic-header {
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 166px;
  margin-top: 35px;
}

.boxer {
  width: 395px;
  display: table;
  border-collapse: collapse;
  margin-left: 150px;
  margin-top: 48px;
  margin-bottom: 75px;
}
.boxer .box-row {
  display: table-row;
}
.boxer .box {
  display: table-cell;
  text-align: left;
}
.boxer :first-child .box {
  font-weight: bold;
  font-size: 46px;
  text-align: left;
  line-height: .22;
  letter-spacing: -1px;
}
.box-row sup {
  line-height: .55;
  font-size: 30px;
}
.boxer :last-child .box {
  padding-top: 25px;
}
/* ====================================================================== */
.container {
  width: 1160px;
  margin-left: 95px;
  border-top: 2px solid #e1e1e1;
  
}
.column {
  float: left;      
  width: 209px;
  height: 90px;
  position:relative;
  margin-left:80px;
  margin-top: 60px;
} 
.column:not(:last-child) .mask {
  position: absolute;
  top: 5px;
  left:255px;
  width:2px;
  height: 51px;
  background-color: #e1e1e1;
}
.column img {
  opacity: .2;
}
.column img:hover {
  opacity: 1;
}
.container :nth-child(2) img {
  margin-top: -16px;
}
.container :nth-child(3) img {
  margin-top: 3px;
  margin-left: 25px;
}
.container :nth-child(4) img {
  margin-top: -5px;
  margin-left: 40px;
}
.map {
  float: left;
} 
.map hr {
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
  height: 2px;
  background-color: #e1e1e1;
  border: none;
}

 /* footer {
  height: 217px;
  background-color: lightgreen;
}
.social li{
  width: 79px;
  height: 79px;
  background-color: red;
  margin-top: 20px;
  margin-left: 10px;
} */

